* {
	color: white;
	text-align: center;
	font-family: "Verdana", sans-serif;
}

body {
	background-color: black;
	font-size: 1rem;
}

h1 {
	font-weight: normal;
	font-size: 3.125rem;
}
a,
span {
	color: aquamarine;
}
